<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"  />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/stage.css" />
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
        <title>Psychological Safety Game Bot</title>
    </head>
    <body>
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-11 col-xl-10">
                        <a class="navbar-brand lobster" href="#">
                            Psychological Safety Game Bot
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-8">
                    <div class="page-header">
                        <h4 class="text-center line-height-2">
                            どうやらページが存在しないようです<br>
                            あなたなら、こんなとき、どんなふうに語りかけますか？
                        </h4>
                    </div>
                    <div>
                        <img class="div-center" width="100%" src="../img/error.png" alt="公式アカウントを追加して、ゲームをはじめよう">
                    </div>
                    <div class="page-header">
                        <h5 class="text-center">
                            LINE 公式アカウントを追加して、ゲームをはじめよう！
                        </h5>
                    </div>
                    <a href="https://lin.ee/AY9gihz">
                        <img class="div-center" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="50" border="0">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer">
            <p class="text-muted text-center lobster">
                Inspired by <a href="https://games.yattom.jp/safety">Psychological Safety Game</a>
            </p>
        </div>
    </body>
</html>