<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"  />
        <meta name="x_data_stage_id" th:content="${stageId}"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../../css/stage.css" />
        <title>Psychological Safety Game</title>
    </head>
    <body>
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-11 col-xl-10">
                        <a class="navbar-brand lobster" href="#">
                            Psychological Safety Game Bot
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-11 col-xl-10">
                    <div class="page-content">
                        <div class="content-list">
                            <div class="row justify-content-center">
                                <div class="content-list-body col-lg-6">
                                    <form th:action="@{__${postUrl}__}" method="post" th:object="${stageJoinForm}">
                                        <div class="form-group">
                                            <h3 class="text-center" for="inputNumber" th:text="${joinRequestTitle}"></h3>
                                            <p id="numberHelp" class="form-text text-muted" th:text="${joinRequest}"></p>
                                            <input type="number" class="form-control form-control-lg" th:field="*{inputNumber}" th:errorclass="is-invalid" name="inputNumber" aria-describedby="numberHelp" th:placeholder="${joinRequestPlaceholder}">
                                            <div id="invalid-input" class="invalid-feedback" th:if="${#fields.hasErrors('inputNumber')}" th:text="${joinRequestWrongPassword}"></div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block" th:text="${joinRequestButton}"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>