<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"  />
        <meta name="x_data_subscription_url" th:content="${subscriptionUrl}"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/stage.css" />
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
        <title>Psychological Safety Game Bot</title>
    </head>
    <body>
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-white">
            <a class="navbar-brand lobster" href="#">
                Psychological Safety Game Bot
            </a>
        </nav>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-11 col-xl-10">
                    <div class="page-header">
                        <!-- Stage info starts-->
                        <h4 class="text-center" th:text="${stageTitle}"></h4>
                        <div class="d-flex justify-content-center">
                            <ul class="avatars">
                                <li th:each="stageMember : ${stageMemberList}">
                                    <a href="#" data-toggle="tooltip" data-placement="top" th:title="${stageMember.userName}">
                                        <img th:alt="${stageMember.userName}" class="avatar" th:src="${stageMember.pictureUrl}">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Stage info ends -->
                        <!-- Introduction starts -->
                        <div id="stageIntroduction" th:if="${stageNotStartedYet}" class="page-content">
                            <h1 class="text-center" th:text="#{web.stage.participate.step}"></h1>
                            <div class="content-list">
                                <div class="content-list-head row">
                                    <h3>STEP 1</h3>
                                </div>
                                <div class="content-list-body row">
                                    <div class="col-lg-3">
                                        <p class="text-center">
                                            <img width="150px" class="img-fluid" alt="url qr code" th:src="${stageQRcode}" />
                                        </p>
                                    </div>
                                    <div class="col-lg-9 lead line-height-2">
                                        <p th:text="#{web.stage.participate.step.1}"></p>
                                    </div>
                                </div>

                                <div class="content-list-head row">
                                    <h3>STEP 2</h3>
                                </div>
                                <div class="content-list-body row">
                                    <div class="col-lg-3">
                                        <h2 class="font-weight-bold text-center" th:text="${stagePassword}"></h2>
                                    </div>
                                    <div class="col-lg-9 lead line-height-2">
                                        <p th:text="#{web.stage.participate.step.2}"></p>
                                    </div>
                                </div>

                                <div class="content-list-head row">
                                    <h3>STEP 3</h3>
                                </div>
                                <div class="content-list-body row">
                                    <div class="col-lg-3">
                                        <p class="text-center">
                                            <img width="150px" class="img-fluid" alt="start game" src="../img/start_game.jpg" />
                                        </p>
                                    </div>
                                    <div class="col-lg-9 lead line-height-2">
                                        <p th:text="#{web.stage.participate.step.3}"></p>
                                    </div>
                                </div>

                                <div class="content-list-head row">
                                    <h3>Note</h3>
                                </div>
                                <div class="content-list-body row">
                                    <div class="col-lg-3">
                                        <p class="text-center">
                                            <img width="150px" class="img-fluid" alt="bot qr code" src="../img/bot-qrcode.jpg" />
                                        </p>
                                    </div>
                                    <div class="col-lg-9 lead line-height-2">
                                        <p th:text="#{web.stage.participate.step.caution}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Introduction ends -->
                    </div>
                </div>
                <hr />
                <div class="page-content col-lg-8 col-xl-8">
                    <!-- round retrospective starts -->
                    <div th:if="${(stageStatus == 'END_GAME')}" class="page-content">
                        <div th:each="entry : ${roundRetrospectiveMap}" th:title="${entry.key}">
                            <h5 class="text-center" th:text="${entry.key}"></h5>
                            <div class="d-flex retrospective-text">
                                <div class="p-2 condition-1 width-20" th:text="#{card.future.team.condition.1}"></div>
                                <div class="p-2 condition-2 width-20" th:text="#{card.future.team.condition.2}"></div>
                                <div class="p-2 condition-3 width-20" th:text="#{card.future.team.condition.3}"></div>
                                <div class="p-2 condition-4 width-20" th:text="#{card.future.team.condition.4}"></div>
                                <div class="p-2 condition-5 width-20" th:text="#{card.future.team.condition.5}"></div>
                            </div>
                            <div class="d-flex justify-content-center retrospective-avatars-area">
                                <div th:each="roundRetrospective : ${entry.value}" class="p-2 width-20">
                                    <ul class="avatars retrospective-avatars">
                                        <li th:each="userId : ${roundRetrospective.value}">
                                            <a href="#" data-toggle="tooltip" data-placement="top" th:title="${(__${userId}__).userName}">
                                                <img th:src="${(__${userId}__).pictureUrl}" class="avatar-mini" th:alt="${(__${userId}__).userName}">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- round retrospective starts -->
                    <!-- round info starts -->
                    <div th:each="entry : ${roundCardForViewMap}" th:title="${entry.key}" class="content-list">
                        <div class="content-list-head row">
                            <h3 th:text="'Round : ' + (${entryStat.size} - ${entryStat.index})"></h3>
                        </div>
                        <div class="msg_content-list-body">
                            <div class="msg_content-list-body-mask">
                                <div th:each="roundCardForView : ${entry.value}">

                                    <div th:if="${(roundCardForView.type == 'SITUATION') || (roundCardForView.type == 'THEME' && roundCardForView.userId != 'defaultIcon')}"
                                         class="row justify-content-start ">
                                        <div class="d-flex mb-4">
                                            <div class="img_cont_msg">
                                                <a href="#" data-toggle="tooltip" data-placement="top" th:title="${(__${roundCardForView.userId}__).userName}">
                                                    <img th:src="${(__${roundCardForView.userId}__).pictureUrl}" class="avatar-mini" th:alt="${(__${roundCardForView.userId}__).userName}">
                                                </a>
                                            </div>
                                            <div th:text="${roundCardForView.text}" class="msg_cotainer">
                                            </div>
                                        </div>
                                    </div>

                                    <div th:if="${(roundCardForView.type == 'COMMENT')}" class="row justify-content-end">
                                        <div class="d-flex justify-content-start mb-4">
                                            <div th:text="${roundCardForView.text}" class="msg_cotainer_send">
                                            </div>
                                            <div class="img_cont_msg_send">
                                                <a href="#" data-toggle="tooltip" data-placement="top" th:title="${(__${roundCardForView.userId}__).userName}">
                                                    <img th:src="${(__${roundCardForView.userId}__).pictureUrl}" class="avatar-mini" th:alt="${(__${roundCardForView.userId}__).userName}">
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div th:if="${(roundCardForView.type == 'THEME' && roundCardForView.userId == 'defaultIcon')}"
                                         class="row justify-content-end">
                                        <div class="d-flex justify-content-start mb-4">
                                            <div th:text="${roundCardForView.text}" class="msg_cotainer_send bg-secondary text-white">
                                            </div>
                                            <div class="img_cont_msg_send">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="psychological safety">
                                                    <img src="../img/group.png" class="avatar-mini" alt="psychological safety">
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- round info ends -->
                </div>
            </div>
        </div>
        <div class="footer">
            <p class="text-muted text-center lobster">
                Inspired by <a href="https://games.yattom.jp/safety">Psychological Safety Game</a>
            </p>
        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script src="../js/app.js"></script>
    </body>
</html>