<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"  />
        <meta name="x_data_url_for_polling" th:content="${urlForPolling}"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/stage.css" />
        <title>Psychological Safety Game</title>
    </head>
    <body>
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-white">
            <a class="navbar-brand" href="#">
<!--                <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
                Psychological Safety Game
            </a>
        </nav>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-11 col-xl-10">
                    <div class="page-header">
                        <div id="stageIntroduction" th:if="${stageNotStartedYet}" class="page-content">
                            <h1 class="text-center" th:text="#{web.stage.participate.step}"></h1>
                            <div class="content-list">
                                <div class="content-list-head row">
                                    <h3>STEP 1</h3>
                                </div>
                                <div class="content-list-body row">
                                    <div class="col-lg-3">
                                        <p class="text-center">
                                            <img width="150px" class="img-fluid" alt="url qr code" th:src="${stageQRcode}" />
                                        </p>
                                    </div>
                                    <div class="col-lg-9 lead line-height-2">
                                        <p th:text="#{web.stage.participate.step.1}"></p>
                                    </div>
                                </div>

                                <div class="content-list-head row">
                                    <h3>STEP 2</h3>
                                </div>
                                <div class="content-list-body row">
                                    <div class="col-lg-3">
                                        <h2 class="font-weight-bold text-center" th:text="${stagePassword}"></h2>
                                    </div>
                                    <div class="col-lg-9 lead line-height-2">
                                        <p th:text="#{web.stage.participate.step.2}"></p>
                                    </div>
                                </div>

                                <div class="content-list-head row">
                                    <h3>STEP 3</h3>
                                </div>
                                <div class="content-list-body row">
                                    <div class="col-lg-3">
                                        <p class="text-center">

                                        </p>
                                    </div>
                                    <div class="col-lg-9 lead line-height-2">
                                        <p th:text="#{web.stage.participate.step.3}"></p>
                                    </div>
                                </div>

                                <div class="content-list-head row">
                                    <h3>Note</h3>
                                </div>
                                <div class="content-list-body row">
                                    <div class="col-lg-3">
                                        <p class="text-center">
                                            <img width="150px" class="img-fluid" alt="bot qr code" src="../img/bot-qrcode.jpg" />
                                        </p>
                                    </div>
                                    <div class="col-lg-9 lead line-height-2">
                                        <p th:text="#{web.stage.participate.step.caution}"></p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    <h4 class="text-center" th:text="${stageTitle}"></h4>
                    </div>
                        <div class="d-flex align-items-center">
                            <ul class="avatars">
                                <li th:each="stageMember : ${stageMemberList}">
                                    <a href="#" data-toggle="tooltip" data-placement="top" th:title="${stageMember.userName}">
                                        <img th:alt="${stageMember.userName}" class="avatar" th:src="${stageMember.pictureUrl}">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr />
                    <div class="page-content">
                        <div th:each="entry : ${roundCardMap}" th:title="${entry.key}" class="content-list">
                            <div class="content-list-head row">
                                <h3 th:text="'Round : ' + (${entryStat.size} - ${entryStat.index})"></h3>
                            </div>
                            <div class="content-list-body row">
                                <div th:each="roundCard : ${entry.value}" class="col-lg-3">
                                    <div class="card text-center round-card">
                                        <div class="card-header">状況</div>
                                        <div class="card-body">
                                            <p class="card-title round-card-title text-warning">事故った</p>
                                            <p class="card-text round-card-text">これダメですよね？　誰の責任？</p>
                                        </div>
                                    </div>
<!--                                    <img th:src="|https://psychological-safety-game.herokuapp.com/cards/${roundCard.cardId}.jpg|" th:alt="${roundCard.cardId}" class="rounded round-card-img">-->
                                    <div class="media media-member">
                                        <img th:src="${(__${roundCard.userId}__).pictureUrl}" class="avatar-mini mr-3" th:alt="${(__${roundCard.userId}__).userName}">
                                        <div class="media-body">
                                            <p th:text=${(__${roundCard.userId}__).userName} class="mb-0"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
            $(function() {
                var POLLING_INTERVAL_TIME_IN_MILLIS = 10000;//10s

                (function polling() {
                    getCountUp();
                    window.setTimeout(polling, POLLING_INTERVAL_TIME_IN_MILLIS);
                }());

                function getCountUp() {
                    var urlForPolling = $("meta[name=x_data_url_for_polling]").attr("content");
                    $.ajax({
                        type : "GET",
                        url : urlForPolling,
                        content : "application/json",
                        dataType : "json",
                    }).done(function(data) {
                        console.log(data);
                        if(data.needUpdate == true){
                            location.reload();
                        }
                    }).fail(function(jqXHR, textStatus) {

                    });
                }
            });
        </script>
    </body>
</html>